@model JueriOnlineShop.Models.Produs

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/creare-produs.css" />
<h1 class="alert alert-info">Adauga un nou produs</h1>

<hr />
<div class="produsAdmin">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numeProdus" class="control-label"></label>
                <input asp-for="numeProdus" class="form-control" />
                <span asp-validation-for="numeProdus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriereProdus" class="control-label"></label>
                <input asp-for="descriereProdus" class="form-control" />
                <span asp-validation-for="descriereProdus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pretProdus" class="control-label"></label>
                <input asp-for="pretProdus" class="form-control" />
                <span asp-validation-for="pretProdus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photoURL" class="control-label"></label>
                <input asp-for="photoURL" class="form-control" />
                <span asp-validation-for="photoURL" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Adauga" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<br/>
<div>
    <a asp-action="Index"class="alert alert-info">Inapoi la pagina cu produse</a>
</di>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
