html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
    font-family: "Lucida Console", "Courier New", monospace;
}

li {
    float: left;
    font-family: "Lucida Console", "Courier New", monospace;
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: "Lucida Console", "Courier New", monospace;

}

li a:hover:not(.active) {
            background-color: purple;
}

#detalii {
    background-image: linear-gradient(aqua,blue);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    font-weight: bold;
    position: relative;
    color: black;
}

