body {
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: url(../images/reviews-image.jpg);
}

h3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: purple;
    background-position: center center;
}

dt {
    font-family: "Lucida Console", "Courier New", monospace;
    flex-basis: 20%;
    padding: 2px 4px;
    background: aqua;
    text-align: center;
    color: black;
}

dd {
    font-family: "Lucida Console", "Courier New", monospace;
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px solid teal;
    color: black;
    background: purple;
}

dt::after {
    content: ":";
}

dl {
    display: flex;
    flex-flow: row wrap;
    border: solid teal;
    border-width: 1px 1px 0 0;
}

.btn {
    background-color: yellow;
    color: black;
    transition: opacity 0.15s;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-color: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

    .btn:hover {
        opacity: 0.8;
    }

    .btn:active {
        opacity: 0.3;
    }
